asgiref==3.4.1
Django==4.0.1
sqlparse==0.4.2
psycopg2-binary==2.9.3
flake8==4.0.1
black==21.12b0
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
django-filter==22.1
markdown==3.3.7
click==8.0.2
redis==5.0.2
opentelemetry-sdk==1.10.0
opentelemetry-api==1.10.0
opentelemetry-exporter-jaeger==1.10.0
opentelemetry-instrumentation==0.29b0
opentelemetry-instrumentation-django==0.29b0
opentelemetry-instrumentation-logging==0.29b0
opentelemetry-instrumentation-requests==0.29b0
requests==2.27.1
django-prometheus==2.2.0
opentelemetry-instrumentation-redis==0.29b0
